.contact__container{
    background-image: url("../assets/img/background-4.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 40px;
}

.contact__container .section-title{
    color: #fff;
}
.contact__container .container{
    border-radius: 8px;
    width: 60%;
    padding: 20px 40px;
}
.contact__container .form-group{
    margin: auto;
    font-size: 1.1rem;
    color: white;
    margin-top: 10px;
}

.contact__container textarea{
    resize: none;
    height: 200px;
}

.contact__container .submit-form{
    margin-top: 15px;
    text-align: center;
}

.contact-loading-spinner__container{
    width: 100%;
    display: flex;
    justify-content: center;

}

.success-message-sent{
    color: white;
    padding-top: 25px;
    padding-bottom: 30px;
}

.happy-icon__container{
    text-align: center;
    margin-bottom: 20px;
}

.success-message-sent h2, .success-message-sent h3, .success-message-sent h4{
    margin-bottom: 20px;
    text-align: center;
}

.success-message-sent .brand img{
    width: 200px;
}

.send-another-message__container{
    text-align: center;
    margin-top: 30px;
}

.send-another-message__container p:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media(max-width: 1024px){
    .contact__container {
        min-height: 40vh;
    }
}

@media(max-width: 676px) {
    .contact__container .container{
        width: 90%;
    }
}