.footer{
    color: white ;
    height: 20vh;
    background-color: blue !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .brand {
    width: 220px;
}
.footer .div{
    font-family: 'Orbitron, sans-serif' !important;
}