.intro-section__container{
    height: 50vh;
    display: flex;
    align-items: center;
}


@media(max-width: 991px){
    .intro-section__container{
       height: auto;
       padding-top: 90px;
       padding-bottom: 60px;
    }

    .intro-section__container p{
        padding-top: 20px;
    }
}