.nav-link:hover{
    cursor: pointer;
  }
  
.active{
    color: white !important;
    font-weight: bolder;
}
/* 
.bg-dark{
  background-color: transparent !important;

} */
.navbar-expand-md .navbar-collapse{
  justify-content: flex-end;
  text-align: center;
}

.navbar-brand{
  width: 8%;
  margin-right: 0 !important;
  text-align: right;
}

.navbar-brand img{
  width: 100%;
}

@media(max-width: 991px){
  .navbar-brand{
    width: 25%;
  }
}