.services__col-1{
    color: #fff;
}

.dark-background{
    background: #2d2d2d;
    padding: 2.5rem 1rem;
}

.light-background{
    background: #e7e7e7;
    padding: 2.5rem 1rem;
}

.services__col-1 h1{
    padding: 3rem 0 1rem 0;
}

.services-description{
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: #d3d3d3; 
}

.services__row-division{
    background: rgba(255, 255, 255, 0.301);
}

.services__sub-col{
    padding: .2rem;
}

.services__card{
    padding: .75rem;
    border-radius: 8px;
    height: auto;
    width: 100%;
}

.services__card h6{
    padding-bottom: 4px;
    text-transform: uppercase;
    padding-right: 20px;
}

.services__card p{
    font-size: 14px;
    line-height: 1.5rem;
    color: #d3d3d3;
}


.reponsive-web-img{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 991px){

    .services__row-division{
        display: none;
    }
    
    .services-col-2{
        height: 70vh;
    }

    .reponsive-web-img{
        width: 40%;
    }

    .services__card{
        margin-top: 2px;
    }
}

@media(max-width: 767px){
    .reponsive-web-img{
        width: 60%;
    }
}

@media(max-width: 557px){
    .reponsive-web-img{
        width: 80%;
    }
}
