.services__col-1{
    color: #fff;
}

.dark-background{
    background: #2d2d2d;
    padding: 2.5rem 1rem;
}

.light-background{
    background: #e7e7e7;
    padding: 2.5rem 1rem;
}

.services__col-1 h1{
    padding: 3rem 0 1rem 0;
}

.services-description{
  font-size: 1rem;
  padding-bottom: 2rem;
}

.services__sub-col{
    padding-left: 0;
}

.reponsive-web-img{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 991px){
    .services-col-2{
        height: 70vh;
    }

    .reponsive-web-img{
        width: 80%;
    }
}