.stack__container{
    height: 60vh;
    padding-bottom: 40px;
    background: #5892da;
    position: relative;
    display: flex;
    align-items: center;
}

.code-img{
    width: 400px;
}

/* .stackicon {
    width: 150px;
} */
.stack-col-2 p {
    font-weight: bold;
}

@media(max-width: 991px){
    .stack__container{
        height: auto;
        padding-top: 90px;
        padding-bottom: 60px;
    }

    .stack-col-1{
        text-align: center;
        padding-top: 30px;
    }

    .stack-col-2{
        padding: 1rem;
        text-align: center;
    }

    .stack-col-2 p{
        text-align: left;
    }

    .code-img{
        width: 80%;
    }
    
}
